body {
    font-family: sans-serif;
}
.hotel_img {
    width: 104%;
    height: 100%;
}
h1 {
    font-size: 35px;
    margin: 10px;
}
h2 {
    font-size: 30px;
    margin: 10px;
}
.p_1 {
    font-size: 25px;
    margin: 15px;
}
.footer {
    background-color: rgba(95, 158, 160);
    margin-top: 10px;
    padding: 20px;
}
.nav-link a {
    color: beige;
    text-decoration: none;
    font-size: 21px;
    margin: 0 18px;
}
.icon .bi {
    color: whitesmoke;
    font-size: 34px;
    margin: 0 20px;
}
.Ref_p {
    margin-left: 40%;
    color: white;
}
td {
    font-size: 35px;
}
.service {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
}
.room{
    text-align: center;
}