body {
    background: url(Image/su.png) repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
fieldset {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.551);
}
.img-box-src {
    height: 80px;
}
input {
    width: 70%;
    height: 30px;
    margin: 15px;
    border-radius: 15px;
}
button {
    width: 25%;
    height: 50px;
    background-color: rgb(118, 118, 118);
    border-radius: 15px;
    color: white;
}